#terminal
{
  white-space: pre-wrap;
  line-height: 1.4;
}

#cursor
{
  display: inline-block;
  height: 1.35em;
  width: 0.7em;
  vertical-align: middle;
  background-color: #A6A6A6;
}

.invisible
{
  opacity: 0;
}
